TAVILY_API_KEY=your_tavily_api_key_here

LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=your_langsmith_api_key_here
LANGCHAIN_PROJECT=doc-helper

OPENSEARCH_URL=http://opensearch:9200
OPENSEARCH_INDEX_NAME=langchain_docs

OLLAMA_BASE_URL=http://host.docker.internal:11434
LLM_MODEL=llama3.2
EMBED_MODEL=nomic-embed-text